@use '../scss/mixin'as *;
@use '../scss/variables'as *;

// Progressbar
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    counter-reset: step;
    margin: 3rem 0;

    // in-active circles
    .progress-step {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $third-color;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0));
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        z-index: 2;
    }

    // circle
    .progress-step::before {
        counter-increment: step;
        content: counter(step);
        //color: $primary-color;
    }

    // top text
    .progress-step::after {
        content: attr(data-title);

        position: absolute;
        top: calc(-100% + $spacing-medium);
        font-size: $font-size-small;
        color: $primary-color;
        font-weight: $font-weight-heavy;
    }

    // active circle
    .progress-step-active {
        background-color: #371A45;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to top, white, rgba(0, 0, 0, 0));
        color: $third-color;
        cursor: pointer;
        // border: none;
    }

}

// progress bar line
.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background-color: $primary-color;
    z-index: 1;
}