.background {
    display: flex;
    width: 100%;
}


.signupForm {
    background-color: rgb(17 24 39);
    width: 60%;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
}

.signup {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 4rem;
}

.layout {
    width: 40%;
    display: grid;
    place-items: center;
}

.header {
    text-align: center;
    justify-items: center;
    transform: rotate(4deg);
    background-color: #000000;
    height: 75px;
    margin: 50px auto 0px;
    width: 50%;
}

.header>h1 {
    font-size: 30px
}

.header:hover {
    transform: rotate(0deg);
    cursor: pointer;
    background-color: #C8C0CC;
    color: #371A45;
    transition: all 0.3s ease-in;
    border: 1px solid rgba(255, 255, 255, 0.205);
}

.header>h1 {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    width: 50%;
}

.formHeader {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin: 30px 0;
}

.formLayout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.formLayout>div {
    margin-top: 10px;
    width: 40%;
}

.formLayout>div>p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}


.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}

.passwordInput {
    width: 80%;
    outline: none;
}

.icon {
    width: 20px;
    cursor: pointer;
}

.formLayout>div>input {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
}

.genderS {
    display: flex;
    flex-direction: column;
}

.genderS>p {
    padding-left: 40px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}

.genderFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.gender {
    width: 40%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #BFD6EE;
}

.gender>p {
    font-size: 20px;
}

.cookies {
    width: 40%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #BFD6EE;
}

.cookies>p {
    font-size: 12px;
    width: 80%;
    line-height: 30px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}


.formResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #BFD6EE;
    width: 70%;
    margin: auto;
    overflow: scroll;
}

.formResult>pre {
    font-size: 16px;
}

.formResult>h4 {
    margin: 20px;
    font-size: 20px;
}

.formBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.btn {
    background: #212122;
    border: 1px solid rgba(245, 245, 245, 0.493);
    padding: 10px 30px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}

.markerCrimson,
.markerGrey {
    height: 15px;
    width: 15px;
    background: #DB1E3D;
    border-radius: 50%;
}

.markerGrey {
    background: #000000;
}


.reference {
    display: flex;
    width: 70%;
    justify-content: space-between;
    position: relative;
    margin: auto;
}

.reference:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    border-bottom: 1px solid rgb(227, 199, 199);
    width: 105%;
    border-radius: 25px;
}

.errorHandler {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6px;
}

.footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 900px) {
    .formLayout>div>p {
        color: #fff;
        margin-bottom: 10px;
        font-size: 13px;
    }

    .signupForm {
        background-color: rgb(17 24 39);
        width: 100%;
        height: 100vh;
        overflow: scroll;
        scroll-behavior: smooth;
    }

    .layout {
        position: absolute;
        right: 0;
        overflow: hidden;
    }

    .formResult>pre {
        font-size: 10px;
        margin: auto;
        font-weight: 800;
    }

    .formResult>h4 {
        margin: 20px;
        font-size: 16px;
    }

    .formLayout {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .formLayout>div {
        margin-top: 10px;
        width: 70%;
    }
}